<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a routerLink="/events" class="navbar-brand">EventNotifier</a></div>
        
        <ul class="navbar-nav">
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/users" class="nav-link">Users</a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/event/types" class="nav-link">EventTypes</a></li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="loginService.isUserLoggedIn()">
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{loginService.getLoggedInUserName()}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/logout">LogOut</a>
                </div>
              </li>
        </ul>

    </nav>

</header>