<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Users List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th hidden>UserId</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td hidden>{{user.userId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td><button (click)="userDetails(user.userId)" class="btn btn-light">View</button>
                <button (click)="updateUser(user.userId)" class="btn btn-info" style="margin-left: 10px">Edit</button>
                <button (click)="deleteUser(user.userId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    <button (click)="createUser()" class="btn btn-success">Add User</button>
    </div>
  </div>